/*
- 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
- Impact, Charcoal, sans-serif
- Arial, Gadget, sans-serif
*/

body {
    background-color: rgb(39,50,56);
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    font-size: 55px;
    color: rgb(105,133,147);
    background-color: white;
}

h2 {
    font-family: Impact, Charcoal, sans-serif;
    font-style: oblique;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 1px;
}

p {
    color: rgb(255, 244, 228);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-align: justify;
}

img {
    margin-left: 35px;
    border: 4px solid;
}

#aspiradora {
    color: rgb(230, 203, 191);
    border-color: rgb(230, 203, 191);
}

#celular {
    color: rgb(161, 193, 203);
    border-color: rgb(161, 193, 203);
}

#consola { 
    color: rgb(188, 189, 191);
    border-color: rgb(188, 189, 191);
}

#hometheaters {
    color: rgb(141, 148, 161);
    border-color: rgb(141, 148, 161);
}

#tele {
    color: rgb(177, 175, 162);
    border-color: rgb(177, 175, 162);
}